.card {
  margin: 4px;
  padding: 0.6em;
  min-width: 180px;
  width: 180px;
  min-height: 150px;
  box-shadow: 1px 1px 4px rgba(230,230,230,50);
  border: 1px solid rgba(200,200,200,50);
  word-wrap: break-word;
}

.large-text {
  font-size: 1.5em;
}

.dragged {
  border-style: dashed;
}

.dragged-over {
  background-color: #dddddd;
  border-style: dotted;
  border: 1px solid #999999;
  transition: background-color 0.750s;
}
