.checkout {
  padding: 2em;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.lock {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card {
  margin-top: 1.5em;
  border-top: 1px solid #cfcfcf;
}

.card-num {
  width: 14em;
  max-width: 14em;
}

.month {
  width: 3em;
  max-width: 3em;
  margin-right: 1em;
}

.year {
  width: 6em;
  max-width: 6em;
}

.cvc {
  width: 2em;
  max-width: 2em;
}

.postal-code {
  width: 8em;
  max-width: 8em;
}

.checkout-button {
  margin-top: 2em;
}

.errors {
  margin-top: 1em;
}

.success {
  margin-top: 1em;
}

@media screen and (max-width: 550px) {
  .checkout {
    width: 90%;
  }
}

@media screen and (min-width:  550px) {
  .checkout {
    width: 500px;
  }
}
