.checkout {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.checkout-form {
  margin: 2em;
  margin-top: 3em;
  padding: 2em;
  justify-content: left;
}

.checkout-information {
  margin: 2em;
}

.lock {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card {
  margin-top: 1.5em;
  border-top: 1px solid #cfcfcf;
}

.card-num {
  width: 14em;
  max-width: 14em;
}

.month {
  width: 2em;
  max-width: 2em;
  margin-right: 1em;
}

.year {
  width: 4em;
  max-width: 4em;
}

.cvc {
  width: 2em;
  max-width: 2em;
}

.postal-code {
  width: 8em;
  max-width: 8em;
}

.checkout-button {
  margin-top: 2em;
}

.errors {
  margin-top: 1em;
}

.success {
  margin-top: 1em;
}

@media screen and (max-width: 550px) {
  .checkout-form {
    width: 90%;
  }
}

@media screen and (min-width:  550px) {
  .checkout-form {
    width: 500px;
  }
}
