div.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.login {
  background-color: #eeeeee;
  max-width: 50%;
  margin-top: 75px;
  padding: 2em;
  left: auto;
  right: auto;
  border-radius: 3px;
}
