.memo {
  font-family: 'Open Sans', sans-serif;
  margin: 4px;
  padding: 0.6em;
  min-width: 220px;
  width: 220px;
  min-height: 170px;
  box-shadow: 2px 2px 6px rgba(210,210,210,50);
  border: 1px solid rgba(200,200,200,50);
  word-wrap: break-word;
  /* to be able to put the inside as position absolute */
  position: relative;
  cursor: pointer;
  background-color: white;
}
@media screen and (max-width: 550px) {
  .memo {
    min-width: 190px;
    width: 190px;
  }
}

.memo:hover {
  box-shadow: 4px 4px 8px rgba(200,200,200,50);
}

.memo .content {
  height: 100%;
}

.memo .rich {
  position: absolute;
  bottom: 1px;
  right: 0px;
  width: 100%;
  height: 56px;
  border-top: 1px solid #eee;
  padding-top: 0.5em;

}

.memo .rich img {
  position: absolute;
  right: 0px;
  width: 56px;
  height: 56px;
  bottom: -1px;
}

.memo .rich p {
  overflow: hidden;
  width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0.5em;
  font-size: 12px;
}

@media screen and (max-width: 550px) {
  .memo .rich p {
    width: 130px;
  }
}

.memo .rich p.title {
  font-weight: bold;
}

.memo.large-text {
  font-size: 1.2em;
}

.memo.very-large-text {
  font-size: 1.6em;
}

.dragged {
  border-style: dashed;
  box-shadow: 0px 0px 2px rgba(230,230,230,50);
  text-color: #dddddd;
  opacity: 0.4;
  transition: color 0.5s, opacity 0.5s;
}

.dragged-over {
  background-color: #dddddd;
  border-style: dotted;
  border: 1px solid #999999;
  transition: background-color 0.25s;
}

.memo .actions {
  font-size: 0.6em;
  position: absolute;
  bottom: 2px;
}
