.memo-container {
  padding: 2px;
  padding-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.memoiz-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding-top: 1em;
  margin-right: auto;
  margin-left: auto;
}

.memoiz {
  padding-bottom: 2em;
}

@media screen and (max-width: 550px) {
  .app-bar-title {
    display: none;
  }
  .memoiz-container {
    width: 90%;
  }
  .memoiz {
    width: 90%;
  }
}

@media screen and (min-width: 550px) {
  .memoiz-container {
    width: 500px;
  }
  .memoiz {
    width: 450px;
  }
}

.subscription-over {
  margin: auto;
  margin-top: 1em;
  width: 50%;
  padding: 1em;
  border: 1px solid #A5D6A7;
  background-color: #E8F5E9;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .subscription-label {
    padding-right: 0px;
  }
  .button-to-plans {
    display: none;
    background-color: red;
  }
  .a-to-plans {
    display: inherit;
  }
}

@media screen and (min-width: 550px) {
  .subscription-label {
    padding-right: 2em;
  }
  .button-to-plans {
    display: inline;
  }
  .a-to-plans {
    display: none;
  }
}
