.card-container {
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.memoiz-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

@media screen and (max-width: 440px) {
  .memoiz {
    width: 90%;
    padding-bottom: 3em;
  }
}

@media screen and (min-width:  440px) {
  .memoiz {
    width: 450px;
    padding-bottom: 3em;
  }
}
