.card-container {
  padding: 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.scratcher-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.scratcher {
  width: 500px;
  padding-bottom: 3em;
}
